* {
    box-sizing: border-box;
}


body {
    font-family:
    Helvetica, Verdana, sans-serif ;
    background-color: ghostwhite;
    color:#454545
}

h1 {
    text-align: center;
}

h1, h2 {
    background-color: #ff506a;
}

h2{
    opacity: 0.8;
}

a {
    color: #454545
}

#welcome_message  {
    font-style:italic;
}

.veg{
    color:green;
}

ul ul {
    font-size: 0.85em;
}

.navbar {
    background-color: crimson;
    text-align: center;
    height: 40px;
    font-size: 20px;
}

.navlink {
    margin:0px;
    width:30%;
    color: #fff;
    background-color: transparent;
    font-weight: bold;
    height: 40px;
    font-size: 1em;
    padding: 10px 10px 10px 10px;
    display: inline-block;
    text-decoration: none;
    ;
}

.navlink:focus, .navlink:hover {
    background-color: #f6b3b3;
    outline: solid;
}